$primary-color: #feb000 !default;
$box-background: #fafafa !default;

* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}

body {
  background: $box-background;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::placeholder {
  color: #999999;
}

::-webkit-scrollbar-track-piece {
  background-color: #f9f9f9
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  cursor: pointer;
  border-radius: 1px;
  border: 1px solid #f9f9f9;
  border-top: 0;
  border-bottom: 0
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  cursor: pointer
}

/*
* login
*/
.login-container {
  height: 100%;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-fields {
    width: 400px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background: #ffffff;
    text-align: center;
    padding: 40px 45px 20px;
  }
  .login-form {
    text-align: left;
    margin-top: 30px;
  }
  img {
    width: 52px;
  }
  .name {
    font-size: 30px;
    font-weight: 500;
    margin: 15px auto 10px;
    color: #262626;
  }
  .slogn {
    color: #595959;
    font-size: 15px;
  }
  .ant-input {
    font-size: 15px;
  }
  .ant-input-prefix {
    color: #8c8c8c;
  }
}

/*
* app
*/
.app {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.app-header {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}

.app-header-info {
  display: flex;
  img {
    width: 35px;
    margin-right: 10px;
  }
  span {
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
    color: #262626;
  }
  small {
    font-size: 13px;
    color: #999999;
    margin-right: 10px;
  }
  p {
    font-size: 13px;
    color: #666666;
    display: inline;
  }
}

.app-header-nav {
  display: flex;
  font-size: 14px;
  .app-header-nav-item {
    margin-left: 30px;
    position: relative;
    text-decoration: none;
    color: #444444;
    transition: all .35s;
    &:hover {
      color: $primary-color;
    }
    &.active {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

/*
* index-page
*/
.index-page {
  display: flex;
  h2 {
    font-size: 15px;
    margin: 20px 20px 15px;
    font-weight: bold;
    color: #777777;
  }
  .left {
    flex: 1;
    .projects {
      background: #ffffff;
      min-height: 130px;
      margin: 0 20px 20px;
      padding: 25px;
    }
    .project {
      width: 230px;
      border: 1px solid #eee;
      box-shadow: 0 0 3px #eee;
    }
    .project-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      background: #eeeeee;
      img {
        width: 100%;
        height: 100%;
        margin: -2px;
      }
    }
    .project-head {
      display: flex;
      padding: 15px;
      padding-right: 0;
    }
    .project-footer {
      border-top: 1px solid #eee;
      margin-top: 30px;
      line-height: 42px;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      color: #666666;
      font-size: 14px;
      .icon-zan {
        margin: 3px;
      }
      .icon-moreif {
        width: 45px;
        text-align: center;
        margin-right: -15px;
      }
    }
    .project-info {
      flex: 1;
      margin-left: 10px;
      b {
        font-size: 15px;
        font-weight: bold;
        color: #555;
      }
      p {
        font-size: 13px;
        color: #777777;
        margin-top: 3px;
      }
    }
    .project-count {
      display: flex;
      justify-content: space-evenly;
      margin: 13px 0;
      .count-block {
        text-align: center;
        p:first-child {
          font-size: 14px;
          color: #777777;
          margin-bottom: 6px;
        }
        b {
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }
  }
  .right {
    width: 350px;
    border-left: 1px solid #eeeeee;
    .activites {
      margin: 0 20px 20px;
      background: #ffffff;
      min-height: 130px;
    }
  }
}

/*
* manage-user-page
*/
.manage-user-page {
  display: flex;
  height: calc(100% - 50px);
  .search-content {
    width: 350px;
    background: #fff;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    padding-top: 0;
  }
  .search-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }
  .result-content {
    flex: 1;
    margin-left: 370px;
    height: 100%;
    overflow: auto;
  }
  .result-head {
    line-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }
  .result-table {
    background: #fff;
  }
}